<div class="container">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Register</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
          <div class="login-wrap p-4 p-md-5">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-user-o"></span>
            </div>
            <h3 class="text-center mb-4">Create an Account?</h3>
            <form (ngSubmit)="doRegister()" class="login-form">
              <div class="form-group">
                <input [(ngModel)]="firstname" class="form-control rounded-left" name="firstName"
                       placeholder="First Name"
                       required type="text">
              </div>
              <div class="form-group">
                <input [(ngModel)]="lastname" class="form-control rounded-left" name="lastName" placeholder="Last Name"
                       required type="text">
              </div>
              <div class="form-group">
                <input [(ngModel)]="username" class="form-control rounded-left" name="email" placeholder="E-mail"
                       required type="email">
              </div>
              <div class="form-group d-flex">
                <input [(ngModel)]="password" class="form-control rounded-left" name="password" placeholder="Password"
                       required type="password">
              </div>
              <div class="form-group d-flex">
                <input [(ngModel)]="confirmPassword" class="form-control rounded-left" name="password-confirm"
                       placeholder="Confirm Password"
                       required type="password">
              </div>
              <div class="form-group d-flex text-center">
                <button class="text-center btn btn-primary" type="submit">Register</button>
              </div>
              <div class="form-group d-flex text-center">
                <a class="text-center btn btn-outline-primary" routerLink="/login">Login</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
