<div class="container">
  <div *ngFor="let property of properties">
    <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
        <!-- ITEM START -->
        <div class="col mb-5">
          <div class="card h-100">
            <!-- Product image-->
            <img alt="..." class="card-img-top"
                 src="https://upload.wikimedia.org/wikipedia/commons/4/49/103_Hanover.jpg"/>
            <!-- Product details-->
            <div class="card-body p-4">
              <div class="text-center">
                <!-- Product name-->
                <h5 class="fw-bolder">{{ property.name }}</h5>
                <!-- Product price-->
                $40.00 - $80.00
              </div>
            </div>
            <!-- Product actions-->
            <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
              <div class="text-center"><a class="btn btn-outline-dark mt-auto" href="#">View Property</a>
              </div>
            </div>
          </div>
        </div>
        <!-- ITEM END -->
      </div>
    </div>
  </div>
</div>
