<div class="sidenav">
  <div class="login-main-text">
    <h2>Split</h2>
    <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form (ngSubmit)="doPasswordReset()" id="form" method="post">
        <div class="form-group">
          <label for="emailInput">E-mail Address</label>
          <input [(ngModel)]="email" class="form-control" id="emailInput" name="email"
                 placeholder="user@mail.com" type="email">
        </div>
        <button class="btn btn-black" id="submit" type="submit">Reset Password
        </button>
        <br>
        <div id="loginOptionsDiv">
          <a routerLink="/login">Back to Login</a>
        </div>
      </form>
    </div>
  </div>
</div>
