<header>
  <!-- NAVBAR START -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Software Delivery Dashboard</a>
      <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
              class="navbar-toggler"
              data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul *ngIf="isLoggedIn" class="navbar-nav me-auto mb-2 mb-lg-0">
          <li>
            <a aria-current="page" class="nav-link active" routerLink="/jobs">Jobs</a>
          </li>
        </ul>
        <!-- NAVBAR RIGHT START -->
        <ul class="nav navbar-nav navbar-right">
          <!-- ACCOUNT DROPDOWN START -->
          <li *ngIf="isLoggedIn" class="nav-item dropdown">
            <a aria-expanded="false" class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#"
               id="navbarDropdown2"
               role="button">
              Account
            </a>
            <ul aria-labelledby="navbarDropdown" class="dropdown-menu">
              <li *ngIf="isLoggedIn">
                <button (click)="doLogout()" class="dropdown-item" type="button">Logout</button>
              </li>
            </ul>
          </li>
          <!-- ACCOUNT DROPDOWN END -->
        </ul>
        <!-- NAVBAR RIGHT END -->
      </div>
    </div>
  </nav>
  <!-- NAVBAR END -->
</header>
