<section class="vh-100">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <div class="card bg-dark text-white">
          <div class="card-body p-5 text-center">
            <div class="mb-md-5 mt-md-4 pb-5">
              <h2 class="fw-bold mb-2 text-uppercase">Register</h2>
              <p class="text-white-50 mb-5">Please enter your details</p>
              <form (ngSubmit)="doRegister()" id="form">
                <div class="form-outline form-white mb-4">
                  <div class="form-group">
                    <label class="form-label" for="emailInput">E-mail</label>
                    <input [(ngModel)]="email" autocomplete="username" class="form-control form-control-lg"
                           id="emailInput"
                           name="email" placeholder="user@mail.com"
                           type="email">
                  </div>
                </div>
                <div class="form-outline form-white mb-4">
                  <div class="form-group">
                    <label class="form-label" for="firstNameInput">First Name</label>
                    <input [(ngModel)]="firstName" autocomplete="given-name" class="form-control form-control-lg"
                           id="firstNameInput" name="firstname"
                           placeholder="First Name"
                           type="text">
                  </div>
                </div>
                <div class="form-outline form-white mb-4">
                  <div class="form-group">
                    <label class="form-label" for="lastNameInput">Last Name</label>
                    <input [(ngModel)]="lastName" autocomplete="family-name" class="form-control form-control-lg"
                           id="lastNameInput" name="lastname"
                           placeholder="Last Name"
                           type="text">
                  </div>
                </div>
                <div class="form-outline form-white mb-4">
                  <div class="form-group">
                    <label class="form-label" for="passwordInput">Password</label>
                    <input [(ngModel)]="password" autocomplete="new-password" class="form-control form-control-lg"
                           id="passwordInput" name="password"
                           placeholder="Password"
                           type="password">
                  </div>
                </div>
                <div class="form-outline form-white mb-4">
                  <div class="form-group">
                    <label class="form-label" for="confirmPasswordInput">Confirm Password</label>
                    <input [(ngModel)]="confirmPassword" class="form-control form-control-lg" id="confirmPasswordInput"
                           name="confirm_password"
                           placeholder="Confirm Password"
                           type="password">
                  </div>
                </div>
                <button class="btn btn-outline-light btn-lg px-5" id="submitButton" type="submit">Register</button>
              </form>
            </div>
            <div>
              <p class="mb-0">Already have an account? <a class="text-white-50 fw-bold" routerLink="/login">Login</a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
