<div class="container">
  <h1>New Property</h1>
  <form (ngSubmit)="doNewProperty()" class="form-group">
    <div class="mb-3">
      <label class="form-label" for="nameInput">Name</label>
      <input [(ngModel)]="name" class="form-control" id="nameInput" name="name">
    </div>
    <div class="mb-3">
      <label class="form-label" for="addressInput">Address</label>
      <input [(ngModel)]="address" class="form-control" id="addressInput" name="address">
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
  </form>
</div>
