<div class="container">
  <h1>About</h1>
  <p>Created by Jonathan Lee &lt;jonathan.lee.devel@gmail.com&gt;</p>
  <h2>Open Source Project</h2>
  <p>Intended to allow for expenses to be shared among tenants in shared living spaces.</p>
  <h2>Source Code</h2>
  <p>Source code available on <a href="https://gitlab.com/jonathan-lee-devel">GitLab</a></p>
  <a href="https://gitlab.com/jonathan-lee-devel/split-api.git">Backend</a><br>
  <a href="https://gitlab.com/jonathan-lee-devel/split-client.git">Frontend</a><br>
  <a routerLink="/home">Return to Home</a>
</div>
