<div class="container">
  <h1>New Expense</h1>
  <form (ngSubmit)="doNewExpense()" class="form-group">
    <div class="mb-3">
      <label class="form-label" for="amountInput">Amount</label>
      <input [(ngModel)]="amount" class="form-control" id="amountInput" name="amount">
    </div>
    <div class="mb-3">
      <label class="form-label" for="frequencyInput">Frequency</label>
      <select [(ngModel)]="frequency" class="form-select" id="frequencyInput" name="frequency">
        <option value="ONCE">ONCE</option>
        <option value="WEEKLY">WEEKLY</option>
        <option value="BIWEEKLY">BI-WEEKLY</option>
        <option value="MONTHLY">MONTHLY</option>
      </select>
    </div>
    <div class="mb-3 form-check">
      <label class="form-check-label" for="isActiveInput">Is Active</label>
      <input [(ngModel)]="isActive" class="form-check-input" id="isActiveInput" name="isActive" type="checkbox">
    </div>
    <div class="mb-3">
      <label class="form-label" for="startDateInput">Start Date</label>
      <input [(ngModel)]="startDate" class="form-control" id="startDateInput" name="startDate" type="date">
    </div>
    <button class="btn btn-primary" type="submit">Create</button>
  </form>
</div>
