<h1>{{jobName}}</h1>
<table class="table table-striped">
  <caption>Various metrics for the given job</caption>
  <thead>
  <tr>
    <th scope="col">Metric</th>
    <th scope="col">Value</th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <th scope="row">Failure / Success Rate</th>
    <td *ngIf="isFailureSuccessRateLoaded" colspan="2">{{failureSuccessRate.failure_rate}}% Failure
      / {{failureSuccessRate.success_rate}}% Success
    </td>
    <td *ngIf="!isFailureSuccessRateLoaded" colspan="2"><img alt="Loading icon"
                                                             src="assets/spinner-small.gif"/></td>
  </tr>
  <tr>
    <th scope="row">Number of Deliveries</th>
    <td *ngIf="isNumberOfDeliveriesLoaded" colspan="2">{{numberOfDeliveries.number_of_deliveries}}</td>
    <td *ngIf="!isNumberOfDeliveriesLoaded" colspan="2"><img alt="Loading icon" src="assets/spinner-small.gif"/></td>
  </tr>
  <tr>
    <th scope="row">Delivery Time</th>
    <td *ngIf="isDeliveryTimeLoaded" colspan="2">{{this.formattedDeliveryTime}}</td>
    <td *ngIf="!isDeliveryTimeLoaded" colspan="2"><img alt="Loading icon" src="assets/spinner-small.gif"/></td>
  </tr>
  <tr>
    <th scope="row">Restore Time</th>
    <td *ngIf="isRestoreTimeLoaded" colspan="2">{{this.formattedRestoreTime}} Seconds</td>
    <td *ngIf="!isRestoreTimeLoaded" colspan="2"><img alt="Loading icon" src="assets/spinner-small.gif"/></td>
  </tr>
  </tbody>
</table>
