<div class="container">
  <section class="ftco-section">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6 text-center mb-5">
          <h2 class="heading-section">Login</h2>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-md-6 col-lg-5">
          <div class="login-wrap p-4 p-md-5">
            <div class="icon d-flex align-items-center justify-content-center">
              <span class="fa fa-user-o"></span>
            </div>
            <h3 class="text-center mb-4">Have an Account?</h3>
            <form (ngSubmit)="doLogin()" class="login-form">
              <div class="form-group">
                <input [(ngModel)]="username" class="form-control rounded-left" name="username" placeholder="E-mail"
                       required type="email">
              </div>
              <div class="form-group d-flex">
                <input [(ngModel)]="password" class="form-control rounded-left" name="password" placeholder="Password"
                       required type="password">
              </div>
              <div class="form-group d-flex">
                <a
                  href="http://localhost:8083/auth/realms/split/login-actions/reset-credentials?client_id=split-api&tab_id=KMO2g9qBqmo">Forgot
                  Password?</a>
              </div>
              <div class="form-group d-flex text-center">
                <button class="text-center btn btn-primary" type="submit">Login</button>
              </div>
              <div class="form-group d-flex text-center">
                <a class="text-center btn btn-outline-primary" routerLink="/register">Register</a>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
