<div class="sidenav">
  <div class="login-main-text">
    <h2>Split</h2>
    <p>Login or register from here to access.</p>
  </div>
</div>
<div class="main">
  <div class="col-md-6 col-sm-12">
    <div class="login-form">
      <form (ngSubmit)="doLogin()" id="form" method="post">
        <div class="form-group">
          <label for="emailInput">E-mail Address</label>
          <input [(ngModel)]="email" class="form-control" id="emailInput" name="email"
                 placeholder="user@mail.com" type="email">
        </div>
        <div class="form-group">
          <label for="passwordInput">Password</label>
          <input [(ngModel)]="password" class="form-control" id="passwordInput" name="password" placeholder="Password"
                 type="password">
        </div>
        <button class="btn btn-black" id="submit" type="submit">Login
        </button>
        <br>
        <div id="accountOptionsDiv">
          <a routerLink="/register">Create an account?</a>
          <a id="forgotPasswordOption" routerLink="/password/reset">Forgot your password?</a>
        </div>
      </form>
    </div>
  </div>
</div>
