<section class="vh-100">
  <div class="card bg-dark text-white">
    <div class="card-body p-5 text-center">
      <div class="mb-md-5 mt-md-4 pb-5">
        <h2 class="fw-bold mb-2 text-uppercase">Properties</h2>
        <h3 class="text-white-50 mb-5">My Properties</h3>
      </div>
      <div *ngFor="let property of properties" class="row justify-content-center mb-md-5 mt-md-4 pb-5">
        <div class="card inner-card">
          <img src="assets/default_house_avatar.png" class="card-img-top" alt="House image">
          <div class="card-body">
            <h5 class="card-title"><a routerLink="/property/view/{{property.id}}" class="text-white">{{property.title}}</a></h5>
            <button (click)="deleteProperty(property.id)" class="btn btn-danger">Delete</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
