<div class="container">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to Split</h1>
      <p class="lead">You must create an account to make use of this application, it's free!</p>
      <div>
        <a class="btn btn-outline-info btn-lg px-5" routerLink="/register">Sign Up</a>
      </div>
      <div class="mt-4">
        <a class="btn btn-outline-info btn-lg px-5" routerLink="/login">Login</a>
      </div>
    </div>
  </div>
</div>
