<div class="container text-center">
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">Welcome to Split</h1>
      <p class="lead">You must create an account to make use of this application, it's free!</p>
      <div>
        <a class="btn btn-outline-info btn-lg px-5" routerLink="/register">Sign Up</a>
      </div>
      <div class="mt-4">
        <a class="btn btn-outline-info btn-lg px-5" routerLink="/login">Login</a>
      </div>
    </div>
  </div>
  <div class="mt-4">
    <h1>What can this application do?</h1>
    <p>Split is an application for people sharing accommodation who want to track their expenses.</p>
    <h2>Current Features</h2>
    <li>Creating a property to manage</li>
    <li>Invite other tenants via e-mail</li>
    <li>Create expenses</li>
    <li>Create expense distribution assignments</li>
    <li>View monthly expense reports</li>
    <h2>Upcoming Features</h2>
    <h4>Split is currently in a pre-production phase and more features are always being added</h4>
    <h5>Some Upcoming Features</h5>
    <li>Monthly expense archives</li>
    <li>Repeating expenses</li>
    <li>Tenant reliability scores</li>
  </div>
</div>
