<section class="vh-100">
  <div class="card bg-dark text-white">
    <div class="card-body p-5 text-center">
      <div class="mb-md-5 mt-md-4 pb-5">
        <h2 class="fw-bold mb-2 text-uppercase">Property</h2>
        <h3 class="text-white-50 mb-5">{{property.title}}</h3>
      </div>
      <div class="mb-md-5 mt-md-4 pb-5">
        <h3 class="fw-bold mb-2 text-uppercase">Expenses:</h3>
        <div class="row"><h4>Expense Breakdown For Property</h4></div>
        <div *ngIf="expenses.length === 0" class="row justify-content-center mb-md-5 mt-md-4 pb-5">
          <div class="card inner-card">
            <div class="card-body">
              No expenses
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table *ngIf="expenses.length !== 0" class="table table-dark table-hover">
            <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Frequency</th>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let expense of expenses">
              <td>{{expense.title}}</td>
              <td>{{expense.frequency}}</td>
              <td>{{formatDate(expense.date)}}</td>
              <td>{{expense.amount}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table *ngIf="expenses.length !== 0" class="table table-dark table-hover">
            <thead>
            <tr>
              <th scope="col">Total</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{totalExpenses}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="row"><h4>Expense Breakdown For Logged-in Tenant</h4></div>
        <div class="table-responsive">
          <table *ngIf="expenses.length !== 0" class="table table-dark table-hover">
            <thead>
            <tr>
              <th scope="col">Number of Tenants</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{property.tenantEmails.length}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table *ngIf="tenantExpenseBreakdown.expenses.length !== 0" class="table table-dark table-hover">
            <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tenantExpenseBreakdownExpense of tenantExpenseBreakdown.expenses">
              <td>{{tenantExpenseBreakdownExpense.expenseTitle}}</td>
              <td>{{tenantExpenseBreakdownExpense.amount}}</td>
            </tr>
            </tbody>
          </table>
        </div>
        <div class="table-responsive">
          <table *ngIf="tenantExpenseBreakdown.total !== '- €1.00'" class="table table-dark table-hover">
            <thead>
            <tr>
              <th scope="col">Total For Logged-in Tenant</th>
            </tr>
            </thead>
            <tbody>
            <tr>
              <td>{{tenantExpenseBreakdown.total}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="btn-group-lg">
        <a class="btn btn-primary" routerLink="/property/view/{{property.id}}">Back to Property</a>
      </div>
    </div>
  </div>
</section>
