<section class="vh-100">
  <div class="card bg-dark text-white">
    <div class="card-body p-5 text-center">
      <div class="mb-md-5 mt-md-4 pb-5">
        <h2 class="fw-bold mb-2 text-uppercase">Property</h2>
        <h3 class="text-white-50 mb-5">{{property.title}}</h3>
        <img alt="Property image" src="assets/default_house_avatar.png"/>
      </div>
      <div *ngIf="isPropertyAdmin" class="btn-group-lg">
        <div>
          <a class="btn btn-primary" routerLink="/property/manage/{{property.id}}/tenants">Manage Tenants</a>
        </div>
        <div><a class="btn btn-primary" routerLink="/property/manage/{{property.id}}/expenses">Manage Expenses</a>
        </div>
        <div><a class="btn btn-primary" routerLink="/property/manage/{{property.id}}/expense-distribution-assignments">Manage
          Expense
          Distribution
          Assignments</a></div>
      </div>
      <div class="mb-md-5 mt-md-4 pb-5">
        <h3 class="fw-bold mb-2 text-uppercase">Tenants:</h3>
        <div *ngIf="property.tenantEmails.length === 0" class="row justify-content-center mb-md-5 mt-md-4 pb-5">
          <div class="card inner-card">
            <div class="card-body">
              No tenants
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table *ngIf="property.tenantEmails.length !== 0" class="table table-dark table-hover">
            <thead>
            <tr>
              <th scope="col">E-mail</th>
              <th scope="col">Accepted</th>
              <th scope="col">Administrator</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let tenant of property.tenantEmails">
              <td>{{tenant}}</td>
              <td>{{toIsAcceptedCharacter(tenant)}}</td>
              <td>{{toIsAdministratorCharacter(tenant)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="mb-md-5 mt-md-4 pb-5">
        <h3 class="fw-bold mb-2 text-uppercase">Expenses:</h3>
        <div *ngIf="expenses.length === 0" class="row justify-content-center mb-md-5 mt-md-4 pb-5">
          <div class="card inner-card">
            <div class="card-body">
              No expenses
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table *ngIf="expenses.length !== 0" class="table table-dark table-hover">
            <thead>
            <tr>
              <th scope="col">Title</th>
              <th scope="col">Frequency</th>
              <th scope="col">Date</th>
              <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let expense of expenses">
              <td>{{expense.title}}</td>
              <td>{{expense.frequency}}</td>
              <td>{{formatDate(expense.date)}}</td>
              <td>{{expense.amount}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="mb-md-5 mt-md-4 pb-5">
        <h3 class="fw-bold mb-2 text-uppercase">Expense Distribution Assignments:</h3>
        <div *ngIf="expenseDistributionAssignments.length === 0"
             class="row justify-content-center mb-md-5 mt-md-4 pb-5">
          <div class="card inner-card">
            <div class="card-body">
              No expense distribution assignments
            </div>
          </div>
        </div>
        <div class="table-responsive">
          <table *ngIf="expenseDistributionAssignments.length !== 0" class="table table-dark table-hover">
            <thead>
            <tr>
              <th scope="col">Tenant</th>
              <th scope="col">Expense</th>
              <th scope="col">Amount</th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let expenseDistributionAssignment of expenseDistributionAssignments">
              <td>{{expenseDistributionAssignment.tenantEmail}}</td>
              <td>{{expenseIdToTitle(expenseDistributionAssignment.expenseId)}}</td>
              <td>{{amountNumberToAmountString(expenseDistributionAssignment.amount)}}</td>
            </tr>
            </tbody>
          </table>
        </div>
      </div>
      <div class="btn-group-lg">
        <a class="btn btn-primary" routerLink="/property/view/{{property.id}}/expense-report">View Monthly Expense
          Report</a>
      </div>
    </div>
  </div>
</section>
