<section class="vh-100">
  <div class="card bg-dark text-white text-center" id="gettingStartedCard">
    <div class="card-header fw-bold">
      Notification
    </div>
    <div class="card-body">
      <h5 class="card-title">Getting Started</h5>
      <p class="card-text">Click the button below to get started with your first property</p>
      <button class="btn btn-outline-light btn-lg px-5" routerLink="/property/create">Create a Property</button>
    </div>
    <div class="card-footer text-muted">
      Just Now
    </div>
  </div>
</section>
